<a href="https://colab.research.google.com/github/DavidAlexandreTS/Machine-Learning-2020.2/blob/main/Machine_Learning_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
import xlrd
import seaborn as sns
from sklearn.cluster import KMeans

In [128]:
np.set_printoptions(threshold=sys.maxsize)

ind = "ID"
features = ["AL", "ACD", "WTW", "K1", "K2"]

data_frame = pd.read_excel("/content/barrettII_eyes_clustering.xlsx", index_col = ind)

X_cl = data_frame[features]

Y_cl = data_frame["Correto"]

X_cl = X_cl.astype(np.dtype('float64'))

In [129]:
k_means = KMeans(n_clusters = 8, random_state = 0).fit(X_cl[features])

In [130]:
groups = k_means.labels_

In [131]:
# Show the centroids of the groups
for i in range(0, 8):
  print("Centroid of the Group", i + 1, ":")
  print(kmeans.cluster_centers_[i])
  print()

Centroid of the Group 1 :
[24.13130952  3.39869048 12.02083333 43.9752381  44.9452381 ]

Centroid of the Group 2 :
[23.52092664  3.0142471  12.05907336 42.20540541 43.00405405]

Centroid of the Group 3 :
[22.62903537  2.98366559 11.76672026 44.84096463 45.76961415]

Centroid of the Group 4 :
[22.35638298  3.03900709 11.6106383  46.40177305 47.52553191]

Centroid of the Group 5 :
[24.974       3.49909677 12.26258065 42.62980645 43.49058065]

Centroid of the Group 6 :
[27.90125  3.31625 12.3125  34.36125 36.67625]

Centroid of the Group 7 :
[23.08819767  2.95938953 11.96075581 43.45462209 44.26895349]

Centroid of the Group 8 :
[24.75373239  3.18359155 12.28802817 40.72387324 41.62450704]

In [132]:
X_cl["Group ID"] = groups
X_cl["Correto"] = Y_cl

In [133]:
groups_profile = []
groups_percent = []

In [134]:
for i in range(0, 8):
  G = X_cl.loc[X_cl['Group ID'] == i]
  tt_G = G['Correto'].value_counts()/G['Correto'].count()*100
  qtd_SG = tt_G["S"]
  qtd_NG = tt_G["N"]
  groups_profile.append(G)
  groups_percent.append(qtd_SG)

In [145]:
# Display group profiles
for i in range(0, 8):
  print("         ****** The Group",i + 1,"have", groups_profile[i].shape[0],"members ******")
  print("-------- Information from individuals in Group", i + 1, "--------")
  print(groups_profile[i])
  print()
  print()

         ****** The Group 1 have 166 members ******
-------- Information from individuals in Group 1 --------
         AL   ACD   WTW     K1     K2  Group ID Correto
ID
6     23.73  2.87  12.0  43.21  45.12         0       S
19    24.08  3.21  12.0  43.44  44.76         0       S
26    23.63  2.85  11.5  42.99  45.42         0       S
30    23.60  3.60  11.9  43.32  45.42         0       N
34    23.86  3.71  12.3  43.83  45.00         0       S
...     ...   ...   ...    ...    ...       ...     ...
1471  24.13  3.66  12.0  43.89  44.06         0       N
1474  23.38  3.12  11.8  44.18  45.18         0       S
1479  24.02  3.20  12.1  43.60  44.06         0       S
1494  24.88  2.58  11.4  43.95  44.82         0       N
1527  23.99  3.09  11.8  44.70  45.30         0       N

[166 rows x 7 columns]


         ****** The Group 2 have 259 members ******
-------- Information from individuals in Group 2 --------
         AL   ACD   WTW     K1     K2  Group ID Correto
ID
3     24.04  2.96  12.0  42.35  42.83         1       S
8     23.13  2.83  11.7  41.62  42.83         1       S
15    23.39  2.90  11.9  42.24  43.60         1       S
29    24.19  3.54  12.7  42.19  42.67         1       S
79    24.61  2.95  12.7  42.08  42.24         1       S
...     ...   ...   ...    ...    ...       ...     ...
1497  24.54  2.80  11.9  41.82  42.24         1       S
1501  23.93  3.04  12.3  42.88  43.49         1       N
1513  24.61  2.92  11.6  42.13  42.45         1       S
1515  23.19  3.41  12.4  41.98  42.88         1       S
1524  23.59  3.19  13.0  42.72  43.60         1       N

[259 rows x 7 columns]


         ****** The Group 3 have 311 members ******
-------- Information from individuals in Group 3 --------
         AL   ACD   WTW     K1     K2  Group ID Correto
ID
9     22.76  2.96  12.2  45.49  46.36         2       N
12    22.94  3.35  12.2  44.64  45.18         2       N
13    22.96  3.33  12.4  45.24  46.62         2       S
14    23.01  4.89  12.5  45.30  46.68         2       N
20    23.67  2.77  12.1  44.53  45.73         2       S
...     ...   ...   ...    ...    ...       ...     ...
1505  22.09  2.48  11.0  44.47  45.30         2       N
1506  22.34  2.54  11.9  45.00  46.04         2       N
1510  22.55  2.88  11.6  45.55  46.30         2       N
1511  23.24  2.19  11.8  44.58  45.92         2       S
1514  22.88  3.52  11.7  45.00  45.92         2       S

[311 rows x 7 columns]


         ****** The Group 4 have 141 members ******
-------- Information from individuals in Group 4 --------
         AL   ACD   WTW     K1     K2  Group ID Correto
ID
5     23.08  3.51  12.5  45.55  48.28         3       S
28    21.44  2.90  11.6  46.36  47.20         3       S
43    24.06  3.01  11.8  46.36  47.87         3       S
53    22.87  2.87  11.7  46.17  47.27         3       N
65    24.76  3.78  11.8  45.30  47.67         3       S
...     ...   ...   ...    ...    ...       ...     ...
1415  22.53  2.88  11.9  45.79  46.87         3       N
1427  22.57  3.29  11.9  45.98  46.42         3       S
1431  21.78  2.62  11.3  46.81  47.67         3       S
1443  21.19  2.98  11.6  46.49  47.74         3       N
1467  22.10  2.67  11.4  45.55  46.94         3       S

[141 rows x 7 columns]


         ****** The Group 5 have 155 members ******
-------- Information from individuals in Group 5 --------
         AL   ACD   WTW     K1     K2  Group ID Correto
ID
1     24.60  3.39  12.3  42.03  43.95         4       S
2     24.59  3.51  12.3  42.83  43.05         4       S
16    24.63  3.23  12.1  42.45  42.78         4       S
18    24.28  3.21  12.0  42.67  43.10         4       N
22    24.72  3.42  12.0  42.67  43.38         4       N
...     ...   ...   ...    ...    ...       ...     ...
1507  24.25  3.20  12.1  42.99  43.44         4       S
1508  23.94  3.53  12.4  42.94  43.49         4       N
1512  24.84  3.35  12.1  41.98  43.38         4       N
1525  26.18  3.83  12.1  43.44  44.18         4       S
1526  24.09  2.77  12.6  42.83  43.72         4       S

[155 rows x 7 columns]


         ****** The Group 6 have 8 members ******
-------- Information from individuals in Group 6 --------
        AL   ACD   WTW     K1     K2  Group ID Correto
ID
90   25.46  2.81  11.6  31.90  33.95         5       N
144  28.61  3.67  12.3  30.93  39.47         5       N
224  24.49  3.18  12.2  37.09  37.63         5       N
243  30.83  3.76  12.6  36.40  36.90         5       N
628  24.85  3.11  12.0  30.96  35.64         5       S
662  30.96  2.84  12.0  34.70  35.50         5       N
667  28.22  3.35  12.5  37.71  38.27         5       N
916  29.79  3.81  13.3  35.20  36.05         5       S


         ****** The Group 7 have 346 members ******
-------- Information from individuals in Group 7 --------
         AL   ACD   WTW     K1     K2  Group ID Correto
ID
0     23.79  3.32  12.0  43.60  44.29         6       S
11    22.29  2.97  11.9  41.82  44.76         6       S
24    23.49  3.08  12.2  44.00  44.23         6       S
25    23.27  3.19  12.4  43.27  43.77         6       S
33    23.72  2.81  12.2  43.49  43.89         6       S
...     ...   ...   ...    ...    ...       ...     ...
1499  22.86  2.73  12.0  43.44  43.66         6       N
1503  22.95  3.15  12.3  43.77  44.35         6       S
1509  23.20  3.23  12.4  43.72  44.18         6       S
1519  23.30  2.75  11.6  42.88  43.60         6       N
1523  23.32  3.29  12.5  43.16  43.95         6       S

[346 rows x 7 columns]


         ****** The Group 8 have 142 members ******
-------- Information from individuals in Group 8 --------
         AL   ACD   WTW     K1     K2  Group ID Correto
ID
4     24.80  2.44  12.2  41.01  41.67         7       S
7     24.16  3.31  12.4  39.85  41.11         7       S
10    25.00  3.51  12.7  39.52  40.08         7       S
17    24.72  2.72  12.3  41.77  42.24         7       N
31    24.68  3.57  11.9  40.76  41.51         7       S
...     ...   ...   ...    ...    ...       ...     ...
1517  24.14  3.05  12.3  41.41  42.24         7       N
1518  24.21  3.25  12.5  40.76  41.93         7       S
1520  24.11  3.29  12.6  41.01  41.41         7       S
1521  26.05  3.04  12.6  40.60  41.16         7       N
1522  27.77  3.75  12.6  41.31  42.08         7       N

[142 rows x 7 columns]

In [146]:
for i in range(0, 8):
  print("Data for the Group", i + 1)
  print("The frequency of YES is approximately:", round(groups_percent[i]),"%")
  print("The frequency of NO is approximately:", 100 - round(groups_percent[i]),"%")
  print()

Data for the Group 1
The frequency of YES is approximately: 67 %
The frequency of NO is approximately: 33 %

Data for the Group 2
The frequency of YES is approximately: 71 %
The frequency of NO is approximately: 29 %

Data for the Group 3
The frequency of YES is approximately: 72 %
The frequency of NO is approximately: 28 %

Data for the Group 4
The frequency of YES is approximately: 60 %
The frequency of NO is approximately: 40 %

Data for the Group 5
The frequency of YES is approximately: 74 %
The frequency of NO is approximately: 26 %

Data for the Group 6
The frequency of YES is approximately: 25 %
The frequency of NO is approximately: 75 %

Data for the Group 7
The frequency of YES is approximately: 75 %
The frequency of NO is approximately: 25 %

Data for the Group 8
The frequency of YES is approximately: 71 %
The frequency of NO is approximately: 29 %